<a href="https://colab.research.google.com/github/Mehezz/assignments/blob/master/Copy_of_Assignment_1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
''' write a program to get a user input from a list data type. Return a list by removing all the duplicates. '''
lst=[{4,4,5,6,8,4,5}]

print(lst)

[{8, 4, 5, 6}]

In [0]:
'''write a program to create a user defined tuple with int data type and perform following operations'''


tuple=(1,2,3,4,5,6,7)

# length of the tuple 
print(len(tuple))

# sum of elements of tuple
print(sum(tuple))

# largest and smallest element of tuple 
print(max(tuple))
print(min(tuple))

7
28
7
1

In [0]:
'''Given a no. and ith bit change the ith bit of that no. to 1'''

num=13
i=1
magnum=30>>i

ith_bit= num and magnum 

print(ith_bit)

15

In [0]:
''' Given a number, print 1 if no. is odd otherwise print 0. '''

num_1=88
num_1=89%2

print(num_1 )

num_2=80
num_2=80%2

print(num)

1
0

In [0]:
''' Given two list A and B. Write a program to merge them into a single sorted list that contains every item from list A and 
B in ascending order '''

A=['mhz','nvn','abc']
B=['fgh','ijk','tia']

list=A+B

print(list)
list.sort()

print(list)

['mhz', 'nvn', 'abc', 'fgh', 'ijk', 'tia']
['abc', 'fgh', 'ijk', 'mhz', 'nvn', 'tia']

In [0]:
''' Create a user defined dict to store names and marks of 5 students. Sort yhe dict. according to marks are return this sorted 
dict to the user'''

students_marks={'Berlin':70,'Oslo':0,'Moscow':50,'Nairobi':100}

import operator
sorted_students_marks=sorted(students_marks.items(),key=operator.itemgetter(1))
print(sorted_students_marks)

[('Oslo', 0), ('Moscow', 50), ('Berlin', 70), ('Nairobi', 100)]